# National Household Travel Survey
http://nhts.ornl.gov/download.shtml#2009

In [27]:
import pandas as pd
import requests, zipfile, StringIO
from BeautifulSoup import BeautifulSoup

In [4]:
# Large file, 50 MB, takes while to load
r = requests.get(r'http://nhts.ornl.gov/2009/download/Ascii.zip')

In [6]:
z = zipfile.ZipFile(StringIO.StringIO(r.content))

In [14]:
# List of files
[i.filename for i in z.filelist]

['Ascii/DAYV2PUB.CSV',
 'Ascii/HHV2PUB.CSV',
 'Ascii/PERV2PUB.CSV',
 'Ascii/VEHV2PUB.CSV',
 'Ascii/',
 'Citation.docx']

In [17]:
# Travel day trip records
day = pd.read_csv(z.open('Ascii/DAYV2PUB.CSV'))

# Household records
hh = pd.read_csv(z.open('Ascii/DAYV2PUB.CSV'))

# Person records
person = pd.read_csv(z.open('Ascii/PERV2PUB.CSV'))

# Vehicle records
veh = pd.read_csv(z.open('Ascii/VEHV2PUB.CSV'))

In [21]:
day.describe()

,HOUSEID,PERSONID,FRSTHM,OUTOFTWN,ONTD_P1,ONTD_P2,ONTD_P3,ONTD_P4,ONTD_P5,ONTD_P6,...,HOMETYPE,HTRESDN,HTHTNRNT,HTPPOPDN,HTEEMPDN,HBRESDN,HBHTNRNT,HBPPOPDN,GASPRICE,VEHTYPE
count,1167321.000000,1167321.000000,1167321.000000,1167321.000000,1167321.000000,1167321.000000,1167321.000000,1167321.000000,1167321.000000,1167321.000000,...,1167321.000000,1167321.000000,1167321.000000,1167321.000000,1167321.000000,1167321.000000,1167321.000000,1167321.000000,1167321.000000,1167321.000000
mean,44957340.763613,1.768805,1.049860,-0.865782,1.298540,1.040424,0.161663,-0.232731,-0.675770,-0.878745,...,1.366153,1367.507465,26.200700,3146.398790,956.499169,1546.367008,23.751729,3528.943823,286.344720,1.505810
std,14430696.518523,1.018333,0.246076,0.596915,0.515847,1.007878,1.319387,1.205588,0.874076,0.561050,...,2.363007,2704.667899,19.242073,4550.306385,1311.418770,2898.887914,21.261102,4900.893051,94.359818,2.042999
min,20000017.000000,1.000000,-8.000000,-9.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,...,-9.000000,-9.000000,-9.000000,-9.000000,-9.000000,-9.000000,-9.000000,-9.000000,149.500000,-9.000000
25%,32429255.000000,1.000000,1.000000,-1.000000,1.000000,1.000000,-1.000000,-1.000000,-1.000000,-1.000000,...,1.000000,300.000000,5.000000,300.000000,75.000000,300.000000,5.000000,300.000000,191.200000,1.000000
50%,44947798.000000,1.000000,1.000000,-1.000000,1.000000,1.000000,-1.000000,-1.000000,-1.000000,-1.000000,...,1.000000,750.000000,20.000000,1500.000000,350.000000,750.000000,20.000000,1500.000000,293.800000,1.000000
75%,57465818.000000,2.000000,1.000000,-1.000000,2.000000,2.000000,2.000000,1.000000,-1.000000,-1.000000,...,1.000000,1500.000000,40.000000,3000.000000,1500.000000,1500.000000,30.000000,7000.000000,376.700000,3.000000
max,69999811.000000,13.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,...,97.000000,30000.000000,95.000000,30000.000000,5000.000000,30000.000000,95.000000,30000.000000,446.000000,97.000000

In [22]:
# data dictionary
r = requests.get(r'http://nhts.ornl.gov/tables09/CodebookBrowser.aspx')

In [61]:
soup = BeautifulSoup(r.content)
main_table = soup.findAll('table')[1]
rows = main_table.findChildren(['th', 'tr'])

In [95]:
# Extract the data dictionary information to describe the variable names

# The table contents start at 11 - find a better way of doing this later...
i = 11
dict_lookup = {}
for row in xrange(11,216+1):
    moniker = rows[row].findAll('td')[1].text
    dsecription = rows[row].findAll('td')[2].text
    
    dict_lookup[moniker] = dsecription

In [97]:
# Next, lookup corresponding code values